body{
    font-family: Montserrat, sans-serif;
    background-color: #1c2841;
}

h1{
    text-align: center;
    color: white;
    font-weight: bold;
}

.text-body{
    display: flex;
    flex-flow: row wrap;
    margin-left: 45vh;
    margin-top: 10vh;
}

.chessboard {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    border: 4px solid;
    border-color: black;
    height: 80vh;
    width: 80vh;
}

.display{
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    background-color: #111827;
    border: 4px solid;
    border-color: black;
    height: 80vh;
    width: 50vh;
    margin-left: 1vh;
}

.title{
    display: flex;
    flex-direction: column;
    font-size: 5vh;
    font-weight: bold;
    text-align: center;
    color: white;
}

.dynamic{
    font-size: 2vh;
    color: white;
    font-weight: bold;
    margin-top: 10vh;
}

.black-case {
    background-color: #1c2841;
    color: white;
    font-size: 1.7vh;
    font-weight: bold;
    height: 10vh;
    width: 10vh;
}

.white-case {
    background-color: white;
    color: #111827;
    font-size: 1.7vh;
    font-weight: bold;
    height: 10vh;
    width: 10vh;
}

.nb{

    margin-left: 0.3vh;
    margin-top: 0.5vh;
}

.lt{
    flex-wrap: nowrap;
    margin-left: 8.5vh;
    margin-top: 8.2vh;
    height: 8vh;
    width: 8vh;
}

.slt{
    flex-wrap: nowrap;
    margin-left: 8.5vh;
    margin-top: 5.6vh;
    height: 8vh;
    width: 8vh;
}

.white-back{
    position: relative;
    margin-top: -16.15vh;
    margin-left: -0.3vh;
}

.black-back{
    margin-top: -0.5vh;
    margin-left: -0.2vh;
}

.white-front{
    margin-top: -0.5vh;
    margin-left: -0.3vh;
}

.black-front{
    margin-top: -0.5vh;
    margin-left: -0.3vh;
}
.white-p{
    margin-top: -2.9vh;
    margin-left: -0.3vh;
}

.black-p{
    margin-top: -2.9vh;
    margin-left: -0.3vh;
}

.black-front-p{
    margin-top: -2.9vh;
    margin-left: -0.3vh;
}

img{
    height: 10vh;
    width: 10vh;
}

img:hover{
    cursor: grab;
}