<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8" />
    <link href="/css/index.css" rel="stylesheet" />
    <link href="/css/menu.css" rel="stylesheet" />
    <title>Title</title>
</head>
<body>

    <div th:replace="/menu :: navbar">

    </div>
    <div class="center-body">
        <div class="text-body">
            <div class="main-title">
                <span>Play Chess</span>
                <span>for Free</span>
                <span>Right Now !</span>
            </div>
            <div class="sec-text">
                <div class="play-online">Play Online</div>
                <div class="training">Training</div>
            </div>
        </div>
        <div class="chessboard">
            <span class="white-case">
                <div class="nb">8</div>
                <div class="black-p"><img src="images/pieces/black/rook.png"/></div>
            </span>
            <span class="black-case">
                <div class="black-back"><img src="images/pieces/black/knight.png"/></div>
            </span>
            <span class="white-case">
                <div class="black-back"><img src="images/pieces/black/bishop.png"/></div>
            </span>
            <span class="black-case">
                <div class="black-back"><img src="images/pieces/black/queen.png"/></div>
            </span>
            <span class="white-case">
                <div class="black-back"><img src="images/pieces/black/king.png"/></div>
            </span>
            <span class="black-case">
                <div class="black-back"><img src="images/pieces/black/bishop.png"/></div>
            </span>
            <span class="white-case">
                <div class="black-back"><img src="images/pieces/black/knight.png"/></div>
            </span>
            <span class="black-case">
                <div class="black-back"><img src="images/pieces/black/rook.png"/></div>
            </span>
            <span class="black-case">
                <div class="nb">7</div>
                <div class="black-front-p"><img src="images/pieces/black/pawn.png"/></div>
            </span>
            <span class="white-case">
                <div class="black-front"><img src="images/pieces/black/pawn.png"/></div>
            </span>
            <span class="black-case">
                <div class="black-front"><img src="images/pieces/black/pawn.png"/></div>
            </span>
            <span class="white-case">
                <div class="black-front"><img src="images/pieces/black/pawn.png"/></div>
            </span>
            <span class="black-case">
                <div class="black-front"><img src="images/pieces/black/pawn.png"/></div>
            </span>
            <span class="white-case">
                <div class="black-front"><img src="images/pieces/black/pawn.png"/></div>
            </span>
            <span class="black-case">
                <div class="black-front"><img src="images/pieces/black/pawn.png"/></div>
            </span>
            <span class="white-case">
                <div class="black-front"><img src="images/pieces/black/pawn.png"/></div>
            </span>
            <span class="white-case"><div class="nb">6</div></span>
            <span class="black-case"></span>
            <span class="white-case"></span>
            <span class="black-case"></span>
            <span class="white-case"></span>
            <span class="black-case"></span>
            <span class="white-case"></span>
            <span class="black-case"></span>
            <span class="black-case"><div class="nb">5</div></span>
            <span class="white-case"></span>
            <span class="black-case"></span>
            <span class="white-case"></span>
            <span class="black-case"></span>
            <span class="white-case"></span>
            <span class="black-case"></span>
            <span class="white-case"></span>
            <span class="white-case"><div class="nb">4</div></span>
            <span class="black-case"></span>
            <span class="white-case"></span>
            <span class="black-case"></span>
            <span class="white-case"></span>
            <span class="black-case"></span>
            <span class="white-case"></span>
            <span class="black-case"></span>
            <span class="black-case"><div class="nb">3</div></span>
            <span class="white-case"></span>
            <span class="black-case"></span>
            <span class="white-case"></span>
            <span class="black-case"></span>
            <span class="white-case"></span>
            <span class="black-case"></span>
            <span class="white-case"></span>
            <span class="white-case">
                <div class="nb">2</div>
                <div class="white-p"><img src="images/pieces/white/pawn.png"/></div>
            </span>
            <span class="black-case">
                <div class="white-front"><img src="images/pieces/white/pawn.png"/></div>
            </span>
            <span class="white-case">
                <div class="white-front"><img src="images/pieces/white/pawn.png"/></div>
            </span>
            <span class="black-case">
                <div class="white-front"><img src="images/pieces/white/pawn.png"/></div>
            </span>
            <span class="white-case">
                <div class="white-front"><img src="images/pieces/white/pawn.png"/></div>
            </span>
            <span class="black-case">
                <div class="white-front"><img src="images/pieces/white/pawn.png"/></div>
            </span>
            <span class="white-case">
                <div class="white-front"><img src="images/pieces/white/pawn.png"/></div>
            </span>
            <span class="black-case">
                <div class="white-front"><img src="images/pieces/white/pawn.png"/></div>
            </span>
            <span class="black-case">
                <div class="nb">1</div>
                <div class="slt">a</div>
                <div class="white-back"><img src="images/pieces/white/rook.png"/></div>
            </span>
            <span class="white-case">
                <div class="lt">b</div>
                <div class="white-back"><img src="images/pieces/white/knight.png"/></div>
            </span>
            <span class="black-case">
                <div class="lt">c</div>
                <div class="white-back"><img src="images/pieces/white/bishop.png"/></div>
            </span>
            <span class="white-case">
                <div class="lt">d</div>
                <div class="white-back"><img src="images/pieces/white/queen.png"/></div>
            </span>
            <span class="black-case">
                <div class="lt">e</div>
                <div class="white-back"><img src="images/pieces/white/king.png"/></div>
            </span>
            <span class="white-case">
                <div class="lt">f</div>
                <div class="white-back"><img src="images/pieces/white/bishop.png"/></div>
            </span>
            <span class="black-case">
                <div class="lt">g</div>
                <div class="white-back"><img src="images/pieces/white/knight.png"/></div>
            </span>
            <span class="white-case">
                <div class="lt">h</div>
                <div class="white-back"><img src="images/pieces/white/rook.png"/></div>
            </span>
        </div>
    </div>
</body>
</html>
