
<div th:fragment="navbar">
    <nav>
        <ul>
            <li><span href="/" class="home"><a th:href="@{/}">Home</a></span></li>

            <li><span class="play"><a th:href="@{/play}">Play</a></span></li>

            <li><span class="profil">Profil</span></li>

            <li><span class="friend">Friends</span></li>

            <li>
                <span class="sign-up">Sign up</span>
                <span class="log-in">Log in</span>
            </li>

            <li><i></i></li>
        </ul>
    </nav>
</div>
