<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="css/menu.css" rel="stylesheet" />
    <link href="css/play.css" rel="stylesheet" />

</head>
<body>

    <div th:replace="/menu :: navbar"></div>


    <div class="text-body">
            <div class="chessboard">
                    <span class="white-case">
                        <img src="images/pieces/black/rook.png"/>
                    </span>
                <span class="black-case">
                        <img src="images/pieces/black/knight.png"/>
                    </span>
                <span class="white-case">
                        <img src="images/pieces/black/bishop.png"/>
                    </span>
                <span class="black-case">
                        <img src="images/pieces/black/queen.png"/>
                    </span>
                <span class="white-case">
                        <img src="images/pieces/black/king.png"/>
                    </span>
                <span class="black-case">
                        <img src="images/pieces/black/bishop.png"/>
                    </span>
                <span class="white-case">
                        <img src="images/pieces/black/knight.png"/>
                    </span>
                <span class="black-case">
                        <img src="images/pieces/black/rook.png"/>
                    </span>
                <span class="black-case">
                        <img src="images/pieces/black/pawn.png"/>
                    </span>
                <span class="white-case">
                        <img src="images/pieces/black/pawn.png"/>
                    </span>
                <span class="black-case">
                        <img src="images/pieces/black/pawn.png"/>
                    </span>
                <span class="white-case">
                        <img src="images/pieces/black/pawn.png"/>
                    </span>
                <span class="black-case">
                        <img src="images/pieces/black/pawn.png"/>
                    </span>
                <span class="white-case">
                        <img src="images/pieces/black/pawn.png"/>
                    </span>
                <span class="black-case">
                        <img src="images/pieces/black/pawn.png"/>
                    </span>
                <span class="white-case">
                        <img src="images/pieces/black/pawn.png"/>
                    </span>
                <span class="white-case"></span>
                <span class="black-case"></span>
                <span class="white-case"></span>
                <span class="black-case"></span>
                <span class="white-case"></span>
                <span class="black-case"></span>
                <span class="white-case"></span>
                <span class="black-case"></span>
                <span class="black-case"></span>
                <span class="white-case"></span>
                <span class="black-case"></span>
                <span class="white-case"></span>
                <span class="black-case"></span>
                <span class="white-case"></span>
                <span class="black-case"></span>
                <span class="white-case"></span>
                <span class="white-case"></span>
                <span class="black-case"></span>
                <span class="white-case"></span>
                <span class="black-case"></span>
                <span class="white-case"></span>
                <span class="black-case"></span>
                <span class="white-case"></span>
                <span class="black-case"></span>
                <span class="black-case"></span>
                <span class="white-case"></span>
                <span class="black-case"></span>
                <span class="white-case"></span>
                <span class="black-case"></span>
                <span class="white-case"></span>
                <span class="black-case"></span>
                <span class="white-case"></span>
                <span class="white-case">
                    <img src="images/pieces/white/pawn.png"/>
                    </span>
                <span class="black-case">
                        <img src="images/pieces/white/pawn.png"/>
                    </span>
                <span class="white-case">
                        <img src="images/pieces/white/pawn.png"/>
                    </span>
                <span class="black-case">
                        <img src="images/pieces/white/pawn.png"/>
                    </span>
                <span class="white-case">
                        <img src="images/pieces/white/pawn.png"/>
                    </span>
                <span class="black-case">
                        <img src="images/pieces/white/pawn.png"/>
                    </span>
                <span class="white-case">
                        <img src="images/pieces/white/pawn.png"/>
                    </span>
                <span class="black-case">
                        <img src="images/pieces/white/pawn.png"/>
                    </span>
                <span class="black-case">
                    <img src="images/pieces/white/rook.png"/>
                    </span>
                <span class="white-case">
                    <img src="images/pieces/white/knight.png"/>
                    </span>
                <span class="black-case">
                    <img src="images/pieces/white/bishop.png"/>
                    </span>
                <span class="white-case">
                    <img src="images/pieces/white/queen.png"/>
                    </span>
                <span class="black-case">
                    <img  src="images/pieces/white/king.png"/>
                    </span>
                <span class="white-case">
                    <img src="images/pieces/white/bishop.png"/>
                    </span>
                <span class="black-case">
                    <img src="images/pieces/white/knight.png"/>
                    </span>
                <span class="white-case">
                    <img src="images/pieces/white/rook.png"/>
                </span>
            </div>

            <span class="display">
                <span class="title">
                    <span>Play with players</span>
                    <span>around the world !</span>
                </span>
                <span class="dynamic"></span>
            </span>
    </div>


    <script src="#" th:src="@{/js/script.js}"></script>

</body>
</html>